<div>
    <filter-textbox filter="$ctrl.filter"></filter-textbox>
    <br/>
    <h3>Books</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>
                    Title
                    <a ui-sref="books({ filter: 'The Two Towers' })"><small>Filter1</small></a>
                    <a ui-sref="books({ filter: 'Return of the King' })"><small>Filter2</small></a>
                </th>
                <th>Date Published</th>
                <th>Author</th>
                <th>Photos</th>
            </tr>
        </thead>
        <tr ng-repeat="book in $ctrl.books">
            <td>{{ book.id }}</td>
            <td>
                <a ui-sref="book({ bookId: book.id })">{{ book.attributes.title  }}</a>
            </td>
            <td>{{ book.attributes.date_published | date }}</td>
            <td>{{ book.relationships.author.data.attributes.name }} #{{ book.relationships.author.data.id }}</td>
            <td><span ng-repeat="photo in book.relationships.photos.data">{{ photo.id }} </span></td>
            <td><a ng-click="$ctrl.delete(book)" title="not supported by demo server"><small>DELETE</small></a></td>
        </tr>
    </table>
</div>
