.tmp/
coverage/
node_modules/
jspm_packages/
bower_components/

/typings/
/build/
/dist/
/dist-demo/
**/bower_packages
.DS_Store
npm-debug.log

# all generated JS
src/js
src/app/**/*.js
src/app/**/*.js.map
