<div>
    <h3>Authors</h3>
    <p><code>$length={{ $ctrl.authors.$length }}. $is_loading={{ $ctrl.authors.$is_loading }}. $source={{ $ctrl.authors.$source }}.</code></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Date of dead</th>
            </tr>
        </thead>
        <tr ng-repeat="author in $ctrl.authors track by $index">
            <td>{{ author.id }}</td>
            <td>
                <a ui-sref="author({ authorId: author.id })">{{ author.attributes.name  }}</a>
            </td>
            <td>{{ author.attributes.date_of_birth | date }}</td>
            <td>{{ author.attributes.date_of_death | date }}</td>
            <td><button ng-click="$ctrl.delete(author)">Delete</button></td>
        </tr>
    </table>

    <!-- <p>
        <button ng-click="$ctrl.update()">Update author</button>
        <button ng-click="$ctrl.removeRelationship()">Remove relationship</button>
    </p> -->

</div>
