<div>
    <filter-textbox filter="vm.filter"></filter-textbox>
    <br/>
    <h3>Books</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date Published</th>
                <th>Author</th>
                <th>Photos</th>
            </tr>
        </thead>
        <tr ng-repeat="book in vm.books | orderBy:'title'">
            <td>{{ book.id }}</td>
            <td>
                <a href="#/books/book/{{ book.id }}">{{ book.attributes.title  }}</a>
            </td>
            <td>{{ book.attributes.date_published | date }}</td>
            <td>{{ book.relationships.author.data.attributes.name }} #{{ book.relationships.author.data.id }}</td>
            <td><span ng-repeat="photo in book.relationships.photos.data">{{ photo.id }} </span></td>
        </tr>
    </table>
</div>
