<div>
    <h3>User, with </h3>
    <pre>users.get('{{$ctrl.user.id}}', { include: ['contacts', 'photos'] });</pre>
    <ul>
        <li>Firstname: <strong>{{ $ctrl.user.attributes.firstname }}</strong></li>
        <li>Surname: <strong>{{ $ctrl.user.attributes.surname }}</strong></li>
    </ul>
    <p>
        <button ng-click="$ctrl.new()">New user</button>
        <button ng-click="$ctrl.update()">Update user</button>
        <button ng-click="$ctrl.removeRelationship()">Remove relationship</button>
    </p>

    <h4>Contacts</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tr ng-repeat="contact in $ctrl.user.relationships.contacts.data">
            <td ng-bind="contact.id"></td>
            <td ng-bind="contact.attributes.email"></td>
        </tr>
    </table>

    <h3>Related Contacts by URL</h3>
    <pre>ContactsService.all( { beforepath: 'users/{{$ctrl.user.id}}' } );</pre>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date Published</th>
            </tr>
        </thead>
        <tr ng-repeat="contact in $ctrl.relatedcontacts">
            <td>{{ contact.id }}</td>
            <td>
                <a href="/contacts/contact/{{ contact.id }}">{{ contact.attributes.title  }}</a>
            </td>
            <td>{{ contact.attributes.date_published | date }}</td>
        </tr>
    </table>

    <p>
        <a ui-sref="users">Volver</a>
    </p>
</div>
